extends template/page

block title
  | Reedable | Home

block header
  h1#Header(tabindex="-1")
    .Tag BETA
    | Reedable
    .SubHeading Chrome Extension

block content

  p We declare a thumb war against the self-centered, self-absorbed, self-grrrrr-whatever web designers, and take back the world wide web for the rest of us.

  p Tiny fonts, tightly positioned text, elegant typeface that no one can see and read... If you have experienced any of these things, we are here to help.

  p Override the typeface. Tweak that text space. (Oh, I just rhymed.) Reedable Chrome Extension provides the reader (that's you) the freedom to choose.

  h2 Getting started

  ol
    li <a href="https://www.google.com/chrome/">Get Chrome web browser</a> if you do not have one yet.

    li <a href="https://chrome.google.com/webstore/detail/reedable/pclaooilffnejdcfkkidelifcmmmehci">Install Reedable Chrome Extension</a> from Chrome Web Store.

    li Open the Reedable popup from the toolbar by clicking the Reedable icon to adjust your view preferences.

    li Surf the web like a pro.

  h3 Text spacing

  p Enable your Text spacing view preferences by selecting the "Text spacing" checkbox in the popup panel.

  .PictureFrame
    img(
      src="image/Reedable_demo_2_TextSpacing_cropped.png"
      alt="The popup shows Line height of 2, empty Letter spacing value, and Word spacing 0.4em."
    )
  
  p You can tweak the preferences by changing the individual properties available in the Reedable popup. Line height value of "2" means "double space." If you find this too much, try "1.5", "1.25", etc.

  p Letter spacing adds extra space between letters. If you feel that the page is too crowded, and the letters are starting to run into each other, increase this value. You usually need less than 0.3em. Much more than that, you might start having difficulty identifying the word breaks.

  p If you can see the letters easily, but if you feel that the words are starting to run into each other, you can increase the Word spacing. You should not need much more than, say, 0.5em.

  p Line height has no unit, because it is always relative to the normal line height of 1. The Letter spacing and Word spacing can be specified in either absolute value or relative value. At present, only the following units are supported.

  // TODO Update this list to reflect the implementation

  dl
    dt px
    dd Number of pixels, regardless of the font size.

    dt em
    dd Relative to the width of capital letter M.
  
  h3 Font override

  p It is true. We included the capability to view any websites you visit in <a href="https://opendyslexic.org/">OpenDyslexic</a> font.

  .PictureFrame
    img(
      src="image/Reedable_demo_3_FontOverride.png"
      alt="Substitute the typeface in Font override panel."
    )
  
  p There are three input values supported by Font override panel.

  .PictureFrame
    img(
      src="image/Reedable_demo_3_FontOverride_cropped.png"
      alt="Minimum font size, % Font magnification, and Font family."
    )
  
  p To view the websites in OpenDyslexic, Make sure "Font override" checkbox is selected, and choose "OpenDyslexic Regular" option from the Font family dropdown.

  p Keep in mind, you can also use these view preferences in combination with each other. For example, you can view the pages in OpenDyslexic while increasing the Word spacing and Line height.

  h3 Focus indicator

  p Coming soon...

  h2 Frequently asked questions

  dl.QuestionAndAnswer

    dt "Dude, you misspelled 'Reedable'."
    dd Yes.

    dt "Who are you, and why are you doing this?"
    dd We are RBLD. We come in peace. Take us to your leader.

    // TODO Link to the main branch instead
    dt "How much does Reedable cost?"
    dd It is <a href="https://github.com/reedable/Reedable/blob/develop/LICENSE" title="View software license">free</a>.

    dt "How do you make money if it is free?"
    dd We do not make any money off of this, but we are rather good at spending it. If you want to enable our exorbitant spending habits, feel free to <a href="#Donation-heading">send us some Dogecoin</a>, the woofficial currency of the Internet.

    dt "Do you collect and sell my personal information?"
    dd No, we do not collect or sell your personal information. Quite frankly, you do not seem all that interesting. We do, however, rely on third-party services like <a href="https://github.com">Github</a> and <a href="https://chrome.google.com/webstore/category/extensions">Chrome Web Store</a> to maintain and distribute our work. If any personal information is being collected and/or sold in relationship to Reedable, it is by them, and not by us.

    dt "How do I create a Reedable account?"
    dd Did you read anything we wrote above? We really do not want your personal information, okay? There is no such thing as "account" here. There is no sign-up required for you to use Reedable.

    dt "How do I sign up for your email newsletters?"
    dd I'm glad you asked. For the last friggin' time, We DO NOT want your personal information. Seriously, people, just, just.. just stop giving away your email address to any random websites out there.

    dt "Hey, something is borked. Can you fix it?"
    dd Why don't you <a href="https://github.com/reedable/Reedable/issues/new" title="Create a support ticket on Github">tell us</a> what is borked, and if we feel like it, we will look into it.

    dt "Hey, could you add something to Reedable?"
    dd Why don't you <a href="https://github.com/reedable/Reedable/issues/new" title="Create a support ticket on Github">tell us</a> what that something is, and if we feel like it, we will look into it. 

    dt "I sent you a support request long time ago, and why have you not gotten back to me yet?" 
    dd Did we mention to you that we are doing this for <a href="https://github.com/reedable/Reedable/blob/develop/LICENSE" title="View software license">free</a>? Jeez! Relax, dude. We've got video games to play, TV shows to watch, comic books to read... We have life, you know. 

    dt "Why does your website look terrible?"
    dd Good point. May I suggest using something like Reedable Chrome Extension to improve the readability of this site?
  
  h2 Contact the developer

  p Wait, what? You want to contact us? What for?

  p If something is broken, or, you have some smashing ideas about how to make this a better product, feel free to <a href="https://github.com/reedable/Reedable/issues/new">contact us on Github</a>. We do have an email, but we are not going to publish it here because some jerk is going to scrape it and abuse it. Besides, if you really, really want to find out our email address, it is easy. Just hop over to our <a href="https://github.com/reedable/Reedable">Github repository</a> and take a look at our <a href="https://raw.githubusercontent.com/reedable/Reedable/develop/public-keys/reedable%40oinklet.com.asc">public key</a>[<a class="Footnote" href="#footnote-1" aria-label="Footnote 1">1</a>].

  h3#Donation-heading Wow! Such support!

  p As we mentioned earlier, Reedable is <a href="https://github.com/reedable/Reedable/blob/develop/LICENSE" title="View software license">free</a>. But if you are an eccentric millionaire who wants to buy us some pizza and beer, which fuels this project, we do accept donations.

  p We only accept donations in <a href="https://dogecoin.com/">Dogecoin</a>. If you want to support our efforts but have no Dogecoin, that's okay. Please do something nice to an arbitrary stranger, and that will be our payment. Wait an extra five seconds and hold a door for someone behind you. Step aside for a stranger on the sidewalk. Smile and say hello to a person you have not seen before. Wear a mask and get vaccinated during a pandemic (if your doctor recommends it)[<a class="Footnote" href="#footnote-2" aria-label="Footnote 2">2</a>]. You know, things that benefit everyone, not just you.

  h4 Dogecoin address

  p This is a doggie dog world. If you are going to insist on paying us, here's our Dogecoin address.

  .PictureFrame.Center
    img(
      style="width: 172px; height: 172px;"
      alt="QR code: D8ZRv33jaoBuk87aKCMKwoFPSLzVegjWX1"
      src="image/D8ZRv33jaoBuk87aKCMKwoFPSLzVegjWX1.png"
    )
  
  p.Center
    span(style="overflow-wrap: anywhere;")
      code D8ZRv33jaoBuk87aKCMKwoFPSLzVegjWX1
  
  p There is a <a href="/Reedable/image/D8ZRv33jaoBuk87aKCMKwoFPSLzVegjWX1.txt.asc">clearsigned text file</a> with our address. You can use our <a href="https://raw.githubusercontent.com/reedable/Reedable/develop/public-keys/reedable%40oinklet.com.asc">public key</a> to verify that the address is authentic. Of course, this is all a pointless exercise unless you can trust our public key in your possession, but that is a whole another level of paranoia. If someone forged a public key, tricked you into trusting it, hacked our site, posted their malicious address and signed it with their own key for a handful of Doge, that is more work than we ever did for Reedable Chrome Extension. Maybe they deserve some credit.

  h2 Footnotes

  ol
    li#footnote-1.Note Please encrypt responsibly.
    li#footnote-2.Note If you are taking medical advice from people who never attended medical schools or took the Hippocratic Oath, you should reevaluate your life choices.