doctype html

html.Reedable(lang="en-US")

  head 
    meta(
      name="viewport"
      content="width=device-width,initial-scale=1.0"
    )
    link(
      type="text/css"
      rel="stylesheet"
      href="/Reedable/assets/stylesheet/theme/light.css"
      media="screen and (prefers-color-scheme: light)"
    )
    link(
      type="text/css"
      rel="stylesheet"
      href="/Reedable/assets/stylesheet/theme/dark.css"
      media="screen and (prefers-color-scheme: dark)"
    )
    link(
      type="text/css"
      rel="stylesheet"
      href="/Reedable/assets/stylesheet/index.css"
    )
    link(
      type="text/css"
      rel="stylesheet"
      href="/Reedable/assets/vendor/fontawesome-free-6.1.1-web/css/brands.min.css"
    )
    link(
      type="text/css"
      rel="stylesheet"
      href="/Reedable/assets/vendor/fontawesome-free-6.1.1-web/css/all.min.css"
    )
    style
      block style
        | /* Page specific style */
    title
      block title
        | Reedable

  body: div

    header
      block header
        h1#header-h1.card(tabindex="-1")
          .tag WTF
          | Hard hat area
          .sub-heading Proceed with caution

    a.skip-link(href="#main") Skip to content

    nav#nav.nav-menu(tabindex="-1")
      block nav
        ul 
          li: a(href="/Reedable/") Home
          li: a(href="/Reedable/docs") Docs
          li: a(href="/Reedable/blog") Blog
          li: a(href="/Reedable/about") About

    a.skip-link(href="#nav") Skip to navigation menu

    main#main(tabindex="-1")
      block content
        p.
          Reedable is currently work-in-progress.
        p.
          In the mean time, if you want to test drive our latest code, please head over to <a href="https://github.com/reedable/Reedable">Github</a>, where you can download the unpacked version of our code straight from our repository.
    
    a.skip-link(href="#nav") Skip to navigation menu

    footer.page-footer
      block footer 
        hr
        small Copyright &copy; 2021-2022 RBLD. All rights reserved.

    a.skip-link(href="#header-h1") Skip to header

    script(
        type="module"
        src="/Reedable/assets/script/index.js"
    )